<%- include("partials/header.ejs") %>
<div>

<div>
    <h1> <%= blogDetails?.title %> </h1>

    <a href="/edit/<%= blogDetails.id %>"> Edit </a>
</div>

<div>
    <p> <%= blogDetails?.description %></p>
</div>

</div>
<%- include("partials/footer.ejs") %>